.btn-renren {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3773ab;
  *background-color: #33669a;
  background-image: -moz-linear-gradient(top, #397cb6, #33669a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#397cb6), to(#33669a));
  background-image: -webkit-linear-gradient(top, #397cb6, #33669a);
  background-image: -o-linear-gradient(top, #397cb6, #33669a);
  background-image: linear-gradient(to bottom, #397cb6, #33669a);
  background-repeat: repeat-x;
  border-color: #33669a #33669a #204061;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff397cb6', endColorstr='#ff33669a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-renren:hover,
.btn-renren:focus,
.btn-renren:active,
.btn-renren.active,
.btn-renren.disabled,
.btn-renren[disabled] {
  color: blue;
  background-color: #33669a;
  *background-color: #2d5987;
}

.btn-renren:active,
.btn-renren.active {
  background-color: #264d74 \9;
}

.btn-stackexchange {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3a70b0;
  *background-color: #185397;
  background-image: -moz-linear-gradient(top, #5184c1, #185397);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5184c1), to(#185397));
  background-image: -webkit-linear-gradient(top, #5184c1, #185397);
  background-image: -o-linear-gradient(top, #5184c1, #185397);
  background-image: linear-gradient(to bottom, #5184c1, #185397);
  background-repeat: repeat-x;
  border-color: #185397 #185397 #0e2f55;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5184c1', endColorstr='#ff185397', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-stackexchange:hover,
.btn-stackexchange:focus,
.btn-stackexchange:active,
.btn-stackexchange.active,
.btn-stackexchange.disabled,
.btn-stackexchange[disabled] {
  color: #ffffff;
  background-color: #185397;
  *background-color: #154781;
}

.btn-stackexchange:active,
.btn-stackexchange.active {
  background-color: #113b6b \9;
}